version: '3.5'

services:

  etcd-registrar1:
    build: .
    depends_on:
      - etcd0
    image: flaviostutz/etcd-registrar
    environment:
      - LOG_LEVEL=debug
      - ETCD_URL=http://etcd0:2379
      - ETCD_BASE=/webservers
      - SERVICE=test1
      - NAME=node11
      - TTL=60
      - INFO=

  etcd-registrar2:
    build: .
    image: flaviostutz/etcd-registrar
    depends_on:
      - etcd0
    environment:
      - LOG_LEVEL=debug
      - ETCD_URL=http://etcd0:2379
      - ETCD_BASE=/webservers
      - SERVICE=test2
      - NAME=node12
      - TTL=60
      - INFO=

  etcd-list:
    build: .
    depends_on:
      - etcd-registrar1
      - etcd-registrar2
    image: flaviostutz/etcd-registrar
    environment:
      - LOG_LEVEL=debug
      - ETCD_URL=http://etcd0:2379
      - ETCD_BASE=/webservers
      - SERVICE=test1
      - LIST=true

  etcd0:
    image: quay.io/coreos/etcd:v3.2.25
    environment:
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
      - ETCD_ADVERTISE_CLIENT_URLS=http://etcd0:2379
